@using resx = MonitoringTraffic.Resources.AR
@{
    ViewBag.Title = resx.Cities;
    ViewBag.Title = "Monitoring Traffic";// Session["CitiesName"];
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @resx.Manage @resx.Cities
        <small>@resx.Cities</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @resx.Manage @resx.Cities</a></li>
        <li class="active">@resx.Cities</li>
    </ol>

</section>
<!-- Main content -->
<!-- Table  -->
<section class="content">
    <div class="row">
        <div class="box center-block">
            <div class="box-header">
                <h3 class="box-title">
                    <button type="button" onclick="showCities()" data-toggle="modal" data-target="#modal-Cities" class="btn btn-primary">@resx.Add  @resx.City</button>
                </h3>
            </div>
            <div class="col-md-1">
            </div>
            <div class="box-body col-md-10">
                <table id="tblCities" class="table table-bordered table-hover table-striped dataTabler">
                    <thead style="background-color: #3c8dbc">
                        <tr>
                            <th>@resx.Name @resx.theCity</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="bodyCities"></tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<!-- End Table  -->
<!-- Model  -->
<div class="modal fade" id="modal-Cities">
    <div class="modal-dialog">
        <label hidden id="lblCitiesId"></label>
        <div class="modal-content">
            <div class="modal-header bg-aqua">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="titleCities" class="modal-title">@resx.Add @resx.Cities</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>@resx.Name <span id="reName" style="color:red"> * </span></label>
                        <input type="text" required id="Name" class="form-control">
                    </div>


                    <div class="row">

                        @*<div class="col-md-12">
                                <label>@resx.Role  <span style="color:red">*</span></label>

                            </div>*@

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@resx.Close</button>
                        <button type="button" id="btnSave" onclick="SaveCities()" class="btn btn-primary pull-left">@resx.Save</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>
<!-- End Model  -->
<script>
    $(document).ready(
        function bind() {
             console.log("it's defined")
            setTableProp("#tblCities");
            $(".prog").fadeOut(500);
          GetCitiesList();
        }
    );
    function setTableProp(tbl) {
        $(tbl).DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': true,
            'autoWidth': false
        });
    }
    var CurrentCitiesList = null;
    function GetCitiesList() {
       $(".prog").fadeIn(500);
        $.ajax({
            url: "/Cities/GetCitiesList",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(),
            dataType: "json",
            success: function (data) {
                $(".prog").fadeOut(500);
                if (data.code == 0) {
                    document.getElementById('titleSuccess').innerHTML = "@resx.Error" ;
                    document.getElementById('MsgDanger').innerHTML = "@resx.MsgSamethingWrong";
                 //   $("#modal-danger").modal();
                } else {
                    CurrentCitiesList = data;
                    var row = "";
                    for (var i = 0; i < CurrentCitiesList.length; i++) {
                        row += "<tr>" +
                            "<td>" + CurrentCitiesList[i].Name + "</td>" +
                            //"<td>" + CurrentCitiesList[i].CitiesRoleId + "</td>" +
                            "<td style='width:150px;'>" +
                            "<button class='btn btn-primary pull-right' data-toggle='modal' data-target='#modal-Cities'  onclick='EditCities(" + CurrentCitiesList[i].Id + ")'>@resx.Edit</button>" +
                            "<button class='btn btn-danger pull-left'  onclick='Delete(" + CurrentCitiesList[i].Id +
                            ")'>@resx.Delete</button>" +
                            "</td>" +
                            "</tr>";
                    }
                    $("#bodyCities").html(row);
                }
            },
            error: function () {
                $(".prog").fadeOut(500);
                    document.getElementById('MsgDanger').innerHTML = "@resx.MsgSamethingWrong" ;
                //$("#modal-danger").modal();
            }
        });
    }
    function SaveCities() {
        if (!checkValidtion_btnAddCities()) return;
        if (document.getElementById('titleCities').innerHTML != "@resx.Add @resx.Cities") {
            $.ajax({
                url: "/Cities/EditCities",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    Id: document.getElementById('lblCitiesId').value,
                    Name: document.getElementById('Name').value ,
                    IsDeleted : "N"
                }),
                dataType: "json",
                success: function (data) {
                    if (data.code == 1) {
                        $('#modal-Cities').modal('hide');
                    document.getElementById('titleSuccess').innerHTML = "@resx.Update" ;
                        document.getElementById('MsgSuccess').innerHTML = "@resx.MsgUpdate";
                        $("#modal-success").modal();
                    } else {
                        document.getElementById('titleDanger').innerHTML = "@resx.Update" ;
                       document.getElementById('MsgDanger').innerHTML = "@resx.MsgUnUpdate" ;
                        $("#modal-danger").modal();
                    }
                },
                error: function (result) {
                    document.getElementById('titleDanger').innerHTML = "@resx.Update" ;
                    document.getElementById('MsgDanger').innerHTML = "@resx.MsgUnUpdate" ;
                    $("#modal-danger").modal();
                }
            });
        }
        else {
            $.ajax({
                url: "/Cities/AddCities",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    Name: document.getElementById('Name').value
                }),
                dataType: "json",
                success: function (data) {
                    if (data.code == 1) {
                        $('#modal-Cities').modal('hide');
                        document.getElementById('titleSuccess').innerHTML =  "@resx.Save" ;
                        document.getElementById('MsgSuccess').innerHTML = "@resx.MsgSave" ;
                        $("#modal-success").modal();
                    } else {
                        document.getElementById('titleDanger').innerHTML =  "@resx.Save" ;
                        document.getElementById('MsgDanger').innerHTML = "@resx.MsgUnSave" ;
                        $("#modal-danger").modal();
                    }
                },
                error: function (result) {
                    document.getElementById('titleDanger').innerHTML =  "@resx.Save" ;
                    document.getElementById('MsgDanger').innerHTML = "@resx.MsgUnSave" ;
                    $("#modal-danger").modal();
                }
            });
        }
        clearCities();
    }
    var city;
    function EditCities(ID) {
        document.getElementById('titleCities').innerHTML = "@resx.Edit @resx.Cities";
        document.getElementById('btnSave').innerHTML = "@resx.Update";
        document.getElementById('lblCitiesId').value = ID;
        $.ajax({
            url: "/Cities/BindCities",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: ID }),
            dataType: "json",
            success: function (data) {
                $(".prog").fadeOut(500);
                if (data.code == 0) {
                    document.getElementById('titleDanger').innerHTML = "@resx.Error" ;
                  document.getElementById('MsgDanger').innerHTML = "@resx.MsgSamethingWrong" ;
                    $("#modal-danger").modal();
                } else {

                    city = data;
                    document.getElementById('Name').value = city[0].Name;


                }
            },
            error: function () {
                $(".prog").fadeOut(500);
                document.getElementById('titleDanger').innerHTML = "@resx.Error" ;
                document.getElementById('MsgDanger').innerHTML = "@resx.MsgSamethingWrong" ;
                $("#modal-danger").modal();
            }
        });
    }
    function DeleteCities() {
        $(".prog").fadeIn(500);
        $.ajax({
            url: "/Cities/DeleteCities",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: document.getElementById('lblCitiesId').value }),
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    $(".prog").fadeOut(500);
                    document.getElementById('titleSuccess').innerHTML ="@resx.Delete" ;
                    document.getElementById('MsgSuccess').innerHTML = "@resx.MsgDelete" ;
                    $("#modal-success").modal();
                } else {
                   document.getElementById('titleDanger').innerHTML ="@resx.Delete" ;
              document.getElementById('MsgDanger').innerHTML =" @resx.MsgUnDelete" ;
                $("#modal-danger").modal();
                }
            },
            error: function (result) {
                document.getElementById('titleDanger').innerHTML ="@resx.Delete" ;
               document.getElementById('MsgDanger').innerHTML =" @resx.MsgUnDelete" ;
                $("#modal-danger").modal();
            }
        });

    }
    function showCities() {
        console.log("it's defined")
        document.getElementById('titleCities').innerHTML = "@resx.Add @resx.Cities";
        document.getElementById('btnSave').innerHTML = "@resx.Save";
    }
    function clearCities() {
        //location.reload();
       document.getElementById('Name').value = "";
    }
    function checkValidtion_btnAddCities() {
        var isVaild = true;
        if (!$('#Name')[0].checkValidity()) {
            document.getElementById('reName').innerHTML = "* @resx.MsgRequire";
            isVaild = false;
        } else {
            document.getElementById('reName').innerHTML = "*";
        }

        return isVaild;
    }
    function OKR() {
        GetCitiesList();
        clearCities();
       // top.location.href = "/Cities";
    }
    function ConfirmDelete() {
        DeleteCities();
    }
    function Delete(Id) {
         document.getElementById('lblCitiesId').value = Id;
          document.getElementById('titleWarning').innerHTML ="@resx.Delete" ;
        document.getElementById('MsgWarning').innerHTML = "@resx.MsgWarningDelete" ;
        $("#modal-warning").modal();
    }
</script>